.hero{
    
    background: url(https://images.squarespace-cdn.com/content/v1/5755a795746fb9cd822387e8/b150e056-dddc-4af5-a53f-bc0cb4c0b586/1-20+%281%29.jpg?format=1500w);
background: url(/img/para.jpg);
    background-position: center;
background-repeat: no-repeat;
background-size: cover;
min-height: 75dvh;
width: 100%;
}


.para{
    background: url(/img/para2.jpg), linear-gradient(to top, #0000002d, #0000002d);
    min-height: 80dvh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
   
}
.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffffc3;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 60px;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.5);

    cursor: pointer;
    z-index: 100;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid #fff;
    border-radius: 5px;
    width: 30%;
    object-fit:cover ;
}
.form{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.375), rgba(0, 0, 0, 0.564)), url('/img/cover.JPG');
    background-position: center;
background-repeat: no-repeat;
background-size: cover;

width: 100%; 

}

.imagefade{
    opacity: 0;
    transition: 2s ease-in;
}
@media screen and (max-width: 48em){
    .popup-image img {
        width: 95%;
       
    }


    .hero{
        min-height: 46dvh;
    }
    .para{
        min-height: 30dvh;
    }
    }
    .about{
      
        &-details{

        }
        &-img{
            & .train{
                clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
            }
        }
    }
    
.errormessage {
    font-size: 1rem;
     margin: .4rem;
   font-weight: 500;
   
 }
 
 .error {
 border: 1px solid red;
 }
 .success{
     border: 1px solid #2D9596;
 }
 

 section{
    transition: transform 2s , opacity 1s ;
  }
  .section-hideen{
  opacity: 0;
    transform: translateY(8rem);
  }
  .hiddencontent {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 0.6s ease-out;
}
.visiblecontent {
    opacity: 1;
    transform: translateY(0);
}

.revealcon {
    margin: 50px 0;
    padding: 20px;
    background: #f4f4f4;
    border: 1px solid #ddd;
}